.nav-mobile-menu{
    position: relative;
    z-index: 2;
}
.nav-mobile-menu li a p{
    font-size: 12px;
}

.nav-mobile-menu .btn-simple,
.nav-mobile-menu .btn-simple:hover,
.nav-mobile-menu .btn-simple:focus{
    color: #66615B;
}
.nav-mobile-menu .navbar-title{
    display: none;
}
.navbar .navbar-nav > li > a.btn{
    margin: 17px 3px;
    padding: 7px 18px;
}
.tim-row{
    margin-bottom: 40px;
}
pre.prettyprint{
    background-color: #eee;
    border: 0px;
    margin-bottom: 0;
    margin-top: 20px;
    padding: 20px;
    text-align: left;
}
.navbar-title{
    height: 100%;
    padding-top: 5px;
}
.atv, .str{
    color: #05AE0E;
}
.tag, .pln, .kwd{
    color: #3472F7;
}
.atn{
    color: #2C93FF;
}
.pln{
    color: #333;
}
.com{
    color: #999;
}
.navbar-title .image-container{
    height: 40px;
    width: 40px;
    display: inline-block;
    top: -3px;
    position: relative;
}
.navbar-title img {
    width: 100%;
}
.space-top{
    margin-top: 50px;
}
.btn-primary .caret{
    border-top-color: #3472F7;
    color: #3472F7;
}
.area-line{
    border: 1px solid #999;
    border-left: 0;
    border-right: 0;
    color: #666;
    display: block;
    margin-top: 20px;
    padding: 8px 0;
    text-align: center;
}
.area-line a{
    color: #666;
}
.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
}
.logo-container .logo{
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 50px;
    float: left;
}
.header-wrapper {
  position: relative;
  height: 200px;
}

.header-wrapper .navbar {
    border-radius: 0;
    /*position: absolute;*/
    width: 100%;
    z-index: 1031;
}
.header-wrapper .header {
    background-color: #ff8f5e;
    background-position: center center;
    background-size: cover;
    height: 140px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.header-wrapper .header .filter::after {
/*     background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #9368e9 0%, #943bea 100%) repeat scroll 0 0 / 150% 150%;     */
    content: "";
    display: block;
    height: 450px;
    left: 0;
    opacity: 0.77;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.header-wrapper .title-container{
    color: #fff;
    position: relative;
    top: 120px;
    z-index: 3;

}
.logo-container .brand{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 20px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
}
.logo-container{
    margin-top: 10px;
    margin-left: 15px;
}

.docs .navbar .navbar-collapse.collapse,
.docs .navbar .navbar-collapse.collapse.in,
.docs .navbar .navbar-collapse.collapsing {
  display: block !important;
  max-height: inherit;
}

@media (min-width: 991px){
  .docs .navbar.navbar-transparent .navbar-nav > li > a.btn {
    color: #fff;
  }
}

.docs .navbar-default.navbar-transparent .navbar-toggle .icon-bar {
  background-color: #fff;
}

#navbar .navbar .navbar-collapse {
  display: none !important;
}

.nav-open .docs .navbar-collapse {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

@media (max-width: 991px){
  .docs .navbar-collapse .nav {
    float: none !important;
  }
}


.logo-container .logo img{
    width: 100%;
}
.title-container img{
    width: 100px;
    height: 100px;
}
.navbar-small .logo-container .brand{
    color: #333333;
}
.navbar-default .navbar-nav>li>a{
    color: #66615B;
    z-index: 10;
}
.navbar-default .logo-container .brand{
    color: #444;
}
.navbar-default.navbar-transparent .logo-container .brand{
    color: #FFFFFF !important;
}
.navbar-center{
    float: none;
    display: inline-block;
    margin-top: -16px;
}
.navbar.navbar-transparent{
    background-color: transparent;
    box-shadow: none;
    color: #fff;
    border: 0;
    padding-top: 0px;
}
.fixed-section{
    max-height: 80vh;
    overflow: scroll;
    top: 110px;
}
.fixed-section ul li{
    list-style: none;
}
.fixed-section li a{
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}
.fixed-section li a.active{
    color: #00bbff;
}
.fixed-section.float{
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}
.copyright {
  color: #777777;
  padding: 10px 15px;
  font-size: 14px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}

.table-bigboy .img-container{
    width: 130px;
    height: 85px;
}
.add-food {
    width: 300px;
}

.table-bigboy .td-name{
    min-width: 170px;
}
#buttons-row .btn{
    margin-bottom: 15px;
}
@media (max-width: 991px) {
    .fixed-section.affix {
        position: relative;
        margin-bottom: 100px;
    }

    .tim-row .nav.nav-pills{
        margin-bottom: 25px;
    }

    .nav-mobile-menu .navbar-title{
        display: none;
    }

}

@media (max-width: 1199px) {

  .navbar .navbar-brand {
    height: 50px;
    padding: 10px 15px;
  }

}

@media (max-width: 768px) {
  .footer .copyright {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    float: none !important;
    width: 100%;
  }
}

@media (max-width: 830px){
    .main-raised{
        margin-left: 10px;
        margin-right: 10px;
    }
}
